<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16909778051-en8pd8d4ivubh22eaaoe2umoapkjl97i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16909778051-en8pd8d4ivubh22eaaoe2umoapkjl97i</string>
	<key>API_KEY</key>
	<string>AIzaSyDgiyR_D1VL5IlJcLMAqQHrYx4iiSai9D8</string>
	<key>GCM_SENDER_ID</key>
	<string>16909778051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anasmerbouh.food-trucks-finder-iOS</string>
	<key>PROJECT_ID</key>
	<string>streats-3d07a</string>
	<key>STORAGE_BUCKET</key>
	<string>streats-3d07a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16909778051:ios:66535f3ff8c164bb86afb6</string>
	<key>DATABASE_URL</key>
	<string>https://streats-3d07a.firebaseio.com</string>
</dict>
</plist>